/* #banner {
    background-image: url("https://t3.ftcdn.net/jpg/00/76/52/16/360_F_76521623_YiFzY0RCHr7CGXIHWHYIQhbHJkjCtO9H.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
} */